<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="src/js/main.js"></script>
    <link rel="stylesheet" href="src/css/main.css">
</head>

<body>
    <div class="csg-container"></div>
</body>

<script type="text/template" id="csg-cheat-sheet-template">
    <div>
        <% _.each(sections, function(section) { %>
        <section>
            <h4><%= section.headline %></h4>
            <% _.each(section.rows, function(value, key) { %>
            <div>
                <span><%= key %></span>
                <span><%= value %></span>
            </div>
            <% }); %>
        </section>
        <% }); %>
    </div>
</script>

<script type="text/template" id="csg-section-template">

</script>
</html>